[Unit]
Description=status server

[Service]
PIDFile=/tmp/status-server.pid
User=www-data
Group=www-data
ExecStart=/opt/server

[Install]
WantedBy=multi-user.target
